body{
    background-color: #F6DEDE66;
    font-family: 'Inter', sans-serif;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}


.container{
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

.titulo{
    margin-top: 2.5em;
    margin-bottom: 1.5em; 
    width: 100%;
}



/* .paginaAtual{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 0.5% 0;
    color: #D24242;
    border-bottom: 0.5px solid #FFD6D6;
} */
.paginaAtual{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #D24242;
    padding-top: 0.5%;
}

.paginaAtual:first-child{
    padding-bottom: 0.5%;
    border-bottom: 0.5px solid #FFD6D6;
}


.selecaoTodos{
    display: flex;
}
.selecaoTodos p{
    margin-left: 10px;
}

.selecionar{
    margin-right: 0.875em;
}

.card{
    width: 100%;
    background-color: #ffffff;
    min-height: 7em;
    border-radius: 10px;
    padding: 2em 2.2em;
    display: flex;
    align-items: center;
    margin-top: 1.4em;
    flex-direction: column;
}

.produto{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3.125em 0 3.125em 0;
    border-bottom: 1px solid #FFD6D6;
}

.produto img{
    width: 7.75em;

}

.foto{
    border: 2px solid #FFF5F5;
    border-radius: 5px;
    margin-right: 1.188em;
}

.produtos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.descricao h3{
    color: #D24242;
    margin-bottom: 0.75em;
    font-size: 1.25em;
    font-weight: 600;
    
}

.descricao p{
    color: #280D00;
    margin-bottom: 1em;
}

.descricao a{
    color: #BBBBBB;
}


.pagination{
    display: flex;
    align-items: center;
    gap: 4px;
}

.pagination a{
    font-size: 1.3em;
}