/*  FOOTER  */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1A8A8;
    height: 20vh;
    color: #D24242;
}

.footer-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    align-items: center;
    height: 15vh;
    gap: 1.5em;
    padding-right: 60px;
    border-right: 2px solid #D24242;
}

.icons a{
    font-size: 2em;
    color: #D24242;
    transition: .5s;
}

.icons a:hover{
    color: #c70b0b;
}


.footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
