.login{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.login-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: pink; /*	tirei fundo gradiente porque não ficou agradavel no modal, por isso retirei, favor alguém (provavelmente eu ou a Larissa) troque a cor depois	*/
	width: 60vw;
	height: 60vh;
	max-width: 40%;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}
a{
	color:#FF7373;
}


.menuLogin{
	text-decoration: none;
	width: 100%;
	background: rgba(255, 173, 173, 0.5);
	border-bottom: 2px solid #FFB1B1;
}

.menu h3{
	padding: 10px;
}

.menu h3 a{
	color: rgb(12, 12, 12);
}

.menu h3 a:hover{
	text-decoration: underline;
}
	
.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form{
	
	padding: 50px;
	border: 2px solid #FF7373;
	border-radius:20px;
	
}

.imagem{
	width: 100%;
	align-items: center;
	text-align: center;
}

.imagem img{
	width: 5em;
}

form{
	width: auto;
}

#senha{
	margin-top: 5em;
}
						
#botao {
	padding: 10px;
	width: 100%;
	color: #fff;
	background:#FF7373;
	border-radius:50px;
	border: none;
	margin-top: 2em;
	transition: .5s;
}		
#botao:hover{
	background-color: #c24242;
	cursor: pointer;
}

h4{
	color: rgb(56, 56, 56);
}

.campos{
	display: flex;
	flex-direction: column;
}

.campos input{
	border: 2px solid #FFB1B1;
	height: 44px;
	border-radius: 18px;
	font-size: 1em;
	padding: 20px;
}

        
.vitrine {
	border-color: white;
	border: solid;
	margin: auto;
}

.enviar{
	width: 100%;
	text-align: center;
	color: #fff;
}

.sem_conta{
	width: 100%;
	text-align: center;
}

.esqueci{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.esqueci a{
	margin-left: 20px;
}
		


