/*  MENU    */


header{
    display: flex;
    width: 100%;
    background: #FFADAD;
}

.logo{
    display: grid;
    place-items: center;
    background-color: #FFF5F5;
    border-radius: 2px;
    width: 20vw;
}

.logo img{
    width: 7vw;
    height: auto;
    padding: 10px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    width: 100%;
}


.search {
    display: flex;
    position: relative;
    width: 50%;
}
.srcIn{
    width: 100%;
    border: 2px solid #FF7373;
    font-size: 1.5em;
    padding: 2px;
    transition: ease .3s;
    outline: none;
}
.srcIn:focus{
    border: 2px solid #c24242;
}
.srcIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: auto;
    font-size: 1.5em;
    border-left: 2px solid #FF7373;
    padding: 0 6px;
    color: #FF7373;
    transition: ease .3s;
}
.srcIn:focus ~ .srcIcon{
    color: #c24242;
    border-left-color: #c24242;
}


.itensMenu, .itensMenu div{
    color: #FAFAFA;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .5s ease;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
}
.itensMenu{
    gap: 1.5rem;

}
.itensMenu div:first-child img, .itensMenu div:nth-child(2) i:first-child{
    margin-right: 5px; 
    font-size: 1.5em;
}
.userIcon{
    width: 40px;
    height: auto;
}

.iconsMenu{
    display: flex;
    gap: 1.5em;
    font-size: 1.8em;
    color: #FAFAFA;
}


.iconsMenu .i{
    cursor: pointer;
    padding: 2px;
    transition: .5s ease;
}

.iconsMenu .i:hover, .itensMenu div:hover{
    opacity: .5;
}