		#caixa {
			    background:blue;
			    border-radius:20px;
			    height:50px;
			    border:2px solid;
		        }
				
		#caixa:focus {
			    background:blue;
			    border-radius:20px;
			    height:50px;
			    border:2px solid;
		        }
				
		#botao {
			height:50px;
			width:auto;
			background:#C6D2FD;
			color:black;
			font-style:glossy;
			font-size:medium;
			border:0px solid;
			box-shadow: 0 0 6 px;
			border-radius:20px;
		}
		
		#botao:hover {
			font-size:xx-medium;
			font-family:Tahoma, Verdana, sans-serif;
			background:#CBA8E6;
			color:red;
			box-shadow:0 0 30px red;
		} 
		
		h2 {background-color:red;
		font-family:glossy, arial, sans-serif;
		font-style:normal;
		font-weight:normal;
		font-size:40 px;
		color: white;
		text-align:center;
		}
		
	
	    .esquerda_cima {
		background-color: #CA9CD6;
		border solid: 5px;
		border-color: white;
		height: 300px;
		width: 300px;
		position: fixed;
		top: 100px;
		left: 100px;
		}
		
		.direita_cima {
		background-color: #9CCAD6;
		border solid: 5px;
		border-color: white;
		height: 300px;
		width: 300px;
		position: fixed;
		top: 100px;
		right: 100px;
		}

	    .esquerda_baixo {
		background-color: #FAB8B6;
		border solid: 5px;
		border-color: white;
		height: 300px;
		width: 300px;
		position: fixed;
		bottom: 100px;
		left: 100px;
		}

	    .direita_baixo {
		background-color: #B5F7CF;
		border solid: 5px;
		border-color: white;
		height: 300px;
		width: 300px;
		position: fixed;
		bottom: 100px;
		right: 100px;
		}
		
        .centro {
		background-color: #B5F7CF;
		border solid: 5px;
		border-color: white;
		height: 500px;
		width: 500px;
		position: fixed;
		top: 0px;
		bottom: 0px;
		right: 0px;
		left: 0px;
		margin: auto;
		
		}

