html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	-webkit-user-drag: none;
}


@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body{
	font-family: 'Inter', sans-serif;
	background: #f6dede66;
	color: #280D00;
	display: grid;
	place-items: center;
	max-height: 100%;
	min-height: 90vh;
	width: 100%;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5vh 0;
	width: 90%;
	height: 95%;
	color: #D24242;
}

h1, h2, h3{font-weight: bold;}
h1{font-size: 2.2em;}
h2{font-size: 1.8em;}
h3{font-size: 1.2em;}
h4{font-size: 1.2em;}

*{
	outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}