*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
   height:100vh;
   


    background: linear-gradient(90deg, #FFD6D6 0%, rgba(252, 209, 209, 0.6) 24.48%, rgba(252, 215, 215, 0.28) 60.42%, #FFFFFF 100%);
}
.telfix-cel {
    display: flex;
    flex-direction: row;
}
.endcep {
    display: flex;
    flex-direction: row;
}
.register-box{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;

  

    padding: 38px 68px 43px 49px;
    
    border: 6px solid #FF9D9D;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 21px;
}

input{
    box-sizing: border-box;

    width: 526px;
    height: 44px;
    padding-left: 20px;

    background: #FFFFFF;
    border: 1px solid #FFB1B1;
    border-radius: 18px;
}

button{
    width: 476px;
    height: 68px;

    background: #FF7373;
    border-radius: 50px;
}

.cadastro{
    width: 196px;
    height: 38px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}

input::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;


    color: #DEBCBC;
}

.menu{
	text-decoration: none;
	width: 100%;
	background: rgba(255, 173, 173, 0.5);
	border-bottom: 2px solid #FFB1B1;
}

.menu h3{
	padding: 10px;
}

.menu h3 a{
	color: rgb(12, 12, 12);
}

.menu h3 a:hover{
	text-decoration: underline;
}

.registra{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 18px;
    /* identical to box height */


    color: #D24242;
}

.numberHouse{
    width: 92px;
    height: 44px;
}

.uf{
    width: 92px;
    height: 44px;
}

.cidade{
    width: 410px;
    height: 44px;
    margin-right: 10px;
    margin-right: 11px;
}

.endereço{
    width: 410px;
    height: 44px;
    margin-right: 10px;
    margin-right: 11px;
}

.rectangle{
    position: absolute;
    top:-2px;
    left: -6px;
    box-sizing: border-box;

    width: 100%;
    height: 53px;

    background: rgba(255, 173, 173, 0.19);
    border: 2px solid #FFB1B1;
}

.back{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 41px;

    color: #280D00  ;
}

.phone{
    width: 251px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #FFB1B1;
    border-radius: 18px;
    margin-right: 11px;
}

.cellphone{
    width: 251px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #FFB1B1;
    border-radius: 18px;
}

.senha{
    margin-bottom: 31px;
}