body{
    background-color: #F6DEDE66;
    font-family: 'Inter', sans-serif;
}

.container{
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.usuario, .opcoes{
    max-width: 45em;
    width: 45em;
    background-color: #ffffff;
    min-height: 7em;
    border-radius: 10px;
    padding: 2em 2.2em;
    display: flex;
    align-items: center;
    margin-top: 1.4em;
  
}

.opcoes{
    margin-top: 3em;  
    display: flex;
    flex-direction: column;
  
}

.dados, .endereco{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5em;
    font-size: 1em;
    color: #280D00;
}

.opcoes p{
    margin-top: 0.7em;
    color: #9B7563;
}

.usuario p, .opcoes h3, .opcoes p{
    padding-left: 22px;
}

.usuario p, .opcoes h3{
    font-size: 1.5em;
}

.opcoes .icon{
    color: #D24242;
}

.foto,.opcoes div .icon{
    height: 4.5em;
    width: 4.5em;
    border: solid 2px #F6DEDE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seta{
    margin-left: auto;
    color: #aaaaaa;
}
