body{
    overflow: hidden;
    background-color: #fff;
}

iframe{
    height: calc(100vh - 92px);
    margin-top: 92px;
    width: 100%;
    padding-left: 0;
}

.sidebar{
    background-color: #FDE6E6;
    width: 2em;
    height: 100vh;
    padding: 3.313em 1.375em 1.375em 1.375em;
    position: fixed;
    transition: all .5s ease;
    z-index: 10;
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    
}

.item, .menu-item{
    display: flex;
    margin-bottom: 2em;
}

.item div, .menu-item div{
    width: 1.5em;
}
.item p, .menu-item p{
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.divIcon{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.divIcon i{
    display: flex;
    justify-content: center;
    
}

.menu-item i{
    color: #280D00;
    width: 2em;
}

.item i{
    color: #FFADAD;
    width: 2em;
}

/*  MENU    */


header{
    display: flex;
    width: 100%;
    background: #FFADAD;
    z-index: 10;
    position: fixed;
    height: 92px;
}

.logo{
    display: grid;
    place-items: center;
    
}

.logo img{
    width: 11.5em;
    height: auto;
    padding: 10px;
}

header nav{
    display: flex;
    margin-left: auto;
    align-items: center;
    margin: 15px;
    width: 100%;
}


.search {
    display: flex;
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto - 30%;
}

nav{
    transition: all .5s ease;
}

.srcIn{
    width: 100%;
    border: 2px solid #FF7373;
    font-size: 1.5em;
    padding: 2px;
    transition: ease .3s;
    outline: none;
}
.srcIn:focus{
    border: 2px solid #c24242;
}
.srcIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: auto;
    font-size: 1.5em;
    border-left: 2px solid #FF7373;
    padding: 0 6px;
    color: #FF7373;
    transition: ease .3s;
}
.srcIn:focus ~ .srcIcon{
    color: #c24242;
    border-left-color: #c24242;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35vw;
}

.menu div:not(.dropdown-container), .dropBtn{
    display: flex;
    align-items: center;
    color: #FAFAFA;
    cursor: pointer;
    transition: .5s ease;
}

.dropdown-container a{
    color: #707070;
}
.dropdown-container a:hover{
    background-color: #dfdfdf !important;
    cursor: pointer;
}

.menu div:nth-child(2) i:first-child, .dropBtn img{
    margin-right: 5px; 
    font-size: 1.5em;
}
.userIcon{
    width: 40px;
    height: auto;
}

.iconsMenu{
    display: flex;
    gap: 12px;
    font-size: 1.8em;
    color: #FAFAFA;
}


.iconsMenu .i{
    cursor: pointer;
    padding: 2px;
    transition: .5s ease;
}

.iconsMenu .i:hover, .menu div:not(.dropdown, .dropdown-container):hover, .dropBtn:hover{
    opacity: .5;
}

/*  Dropdown    */

.dropBtn{
    background-color: transparent;
    border: none;
}


.dropdown{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 1em;
}

.dropdown-container{
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-20%, -50%);
    z-index: 1;
    display: none;
    flex-direction: column;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
    z-index: 1;
    text-align: center;
}

.dropdown-container a{
    padding: 5px;
    transition: .5s ease;
}
.dropdown-container a:hover{
    background-color: #9b9b9b;
}

.show{
    display: flex;
}

.showSide{
    width: 10em;
}

.showSide ~ .container{
    filter: blur(13px);
}

.selecionado{
    color: #FF3232;
}
.selecionado i{
    color: #FF3232;
}

.btns a{
    font-size: 1.1em;
    padding: 7px 35px;
    background: #FF7373;
    border-radius: 50px;
    color: #FFF5F5;
    transition: all ease-in-out .5s;
}


.down ul{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.down ul li a{
 color: #280D00;
 padding-top: auto;
}

.down ul li:first-child {
    border-right: 2px solid #280D00;
    padding-right: 5px;
}

.deslogado{
    height: 100%;
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5em;
    margin-left: auto;
}

.logado{
    display: flex;
}

.ddShow{
    display: flex;
}

.ddNone{
    display: none;
}

.ddTela{
    width: calc(100% - 4em);
    padding-left: 4em;
}