<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="filtroDropdownStyle.css">
    <title>Document</title>
</head>
<body>
    <div class="filtros">
       
            <label class="container_check">Chaveiros
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
       
        <div class="filtro">
            <input type="checkbox">
            Corações de pelúcia
        </div>
        <div class="filtro">
            <input type="checkbox">
            Urso P nacional - 21cm
        </div>
        <div class="filtro">
            <input type="checkbox">
            Urso M nacional - 23cm
        </div>
        <div class="filtro">
            <input type="checkbox">
            Urso G nacional
        </div>
        <div class="filtro">
            <input type="checkbox">
            Urso GG nacional
        </div>
        <div class="filtro">
            <input type="checkbox">
            Urso importado - 21cm
        </div>
        <div class="filtro">
            <input type="checkbox">
            Urso importado - 23cm
        </div>
        <div class="filtro">
            <input type="checkbox">
            Urso importado - 26cm
        </div>
        <div class="filtro">
            <input type="checkbox">
            Urso importado - 30cm
        </div>
        <div class="filtro">
            <input type="checkbox">
            Urso gigante importado
        </div>
    </div>
</body>
</html>