table tbody, table thead{
    display: grid;
    place-items: center;
    
}
.itens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
    align-items: start;
    justify-items: center;
    margin-bottom: 4em;
}

.item{
    width: 100%;
    border-radius: 5px;
    min-height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
    background-color: #ffff;
}

.detalhes{
    padding: 10px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.fa-solid {
    align-self: flex-end;
    margin-top: auto;
}


.tituloProduto{
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.preco{
    font-size: 1.8em;
    margin-bottom: 5px;
}

.itemImagem{
    
    height: 15em;
}

.dt{
    font-size: 0.8em;
    font-weight: bold;
    color: #00a650;
}

.descricaoTexto{
    font-size: 0.9em;
    margin-top: 20px;
    color: black;
}

.itemImagem img{
    height: 15em;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: solid 1px #dfdfdf;
}

.titulo{
    margin: 1.2em 0;
    color: #D24242;
}

.filtros{
    background-color: #FF5555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    caret-color: transparent;
}

.filtro a, .filtro a:active, .filtro a:visited{
    color: #ffff;
    cursor: pointer;
}

.alinhamentoFiltro{
    background-color: #FF5555;
    width: 100%;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown{
    position: absolute;
    display: none;
    transform: translate(-50%, 5%);
    z-index: 1;
    flex-direction: column;
    background-color: #ffffff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
    z-index: 1;
    text-align: center;
    width: 13.5em;
    padding: 1em;
    text-align: start;
}
.drp{
    display: flex;
    justify-content: space-between;
}

.show{
    display: flex;
}

.dropdown label{
    margin-bottom: 1em;
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: .5rem;
    display: grid;
    place-items: center;
    gap: .5rem;
}

.fas.fa-plus-circle {
    font-size: 2em;
    cursor: pointer;
    display: block;
}

.createItemForm {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.createItemForm input, .createItemForm textarea {
    padding: 10px;
    border: none;
}

.createItemForm button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.createItemForm button:hover {
    background-color: #45a049;
}
