body{
    background: linear-gradient(90deg, #FFD6D6 0%, rgba(252, 209, 209, 0.6) 24.48%, rgba(252, 215, 215, 0.28) 60.42%, #FFFFFF 100%);
}

.register-box{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: clamp(15%, 30%, 80%);
    padding: 50px 30px;
    border: 6px solid #FF9D9D;
    backdrop-filter: blur(2px);
    border-radius: 21px;
}

.campo{
    width: 100%;
    height: 44px;

    background: #FFFFFF;
    border: 1px solid #FFB1B1;
    border-radius: 18px;
}

.register-box div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}



button{
    width: 60%;
    height: 48px;
    background: #FF7373;
    border-radius: 50px;
    border: none;
    transition: .5s;
}

button:hover{
    background-color: #D24242;
    cursor: pointer;
}

button span{
    width: 196px;
    height: 38px;
    font-size: 22px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}


.campo::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.3em;
    line-height: 30px;
    color: #DEBCBC;
    padding-left: 12px;
}

.menu{
    position: absolute;
    top: 0;
	text-decoration: none;
	width: 100%;
	background: rgba(255, 173, 173, 0.5);
	border-bottom: 2px solid #FFB1B1;
}

.menu h3{
	padding: 10px;
}

.menu h3 a{
	color: rgb(12, 12, 12);
}

.menu h3 a:hover{
	text-decoration: underline;
}

.registra{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 18px;
    /* identical to box height */


    color: #D24242;
}


.phone, .cellphone, .uf, .cidade, .numberHouse, .endereço{
    width: 45%;
    height: 44px;
    background: #FFFFFF;
}

.endereço, .cidade{
    width: 60%;
}

.numberHouse, .uf{
    width: 30%;
}

.senha{
    margin-bottom: 32px;
}


